<section>
	{% if user %}

		{% if not selectedDevice %}
			<p>Select a device:</p>
		{% endif %}

		<section class="buttons-container">
			{% for device in user.devices %}
				<a class="pure-material-button-contained" href="/device/{{device.uuid}}" {% if device.uuid === selectedDevice.uuid %} disabled {% endif %}>
					<span>{{device.name  | capitalize}} {% if device.uuid === selectedDevice.uuid %} ✅️ {% endif %}</span>
				</a>
			{% endfor %}
		</section>

		{% if selectedDevice %}
			<h4>{{selectedDevice.name | capitalize}}</h4>
		{% endif %}

	{% endif %}
</section>
